# Ignore node_modules
node_modules

# Ignore package lock file (optional, if you don't want to include it in the image)
package-lock.json

# Ignore local environment files
.env
.env.sample

# Ignore Dockerfile
Dockerfile

# Ignore Git-related files and directories
.git
.gitignore
.github

# Ignore configuration files for tools (optional)
.prettierrc
.prettierignore

# Ignore the build directory (if you have one)
build

# Ignore any log files
*.log

# Ignore temporary files and directories
temp
tmp
*.swp
*.bak
*.tmp

# Ignore the public directory (if it's a build artifact and not part of the source)
# Uncomment if public is only a build artifact and not source code.
# public

# Ignore the Docker ignore file itself
.dockerignore