<%- include("./partials/frameUpper.ejs") %>

<div class="blogg utility">
    <div class="blogs">
        <div class="heading" style="margin-top: 80px;">
            <h1 style="font-size: 50px;">Get Some Tips About Your Health</h1>
        </div>
        <div class="para">
            
        </div>
    </div>
</div>

<%- include("./partials/frameLower.ejs") %>