<%- include("./partials/frameUpper") %>
    <div class="bookApp utility">
        <div class="formm">
            <form action="/bookAppointment" method="POST">
                <div class="inputs">
                <input type="text" id="fname" name="fname" placeholder="Name" autocomplete="off" required/><br>
                <input type="text" name="summary" id="" placeholder="What's Your problem" required /><br>
                <select name="description" id="" placeholder="Mode" required>
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                </select>
                
                <br>
                <label for="start">Start date:</label>
                <input type="date" id="start" name="startDate" value="2018-07-22" min="2024-01-01" max="2050-12-31" />
                <label for="timeInput">Enter Time:</label>
                <input type="time" id="timeInput" name="startTime" min="00:00" max="23:59" step="1" required>
                </div>
                <button type="submit">Book</button>
            </form>
        </div>
    </div>
<%- include("./partials/frameLower") %>
