<%- include("./partials/frameUpper.ejs") %>

<div class="problemm utility">
<form method="post" action="/problem">
    <div class="search-box">
        <div class="row">
            <input name="searchResult" type="text" id="input-box" placeholder="Search Symptom" autocomplete="off">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="result-box">
        </div>     
    </div>
    </form>


</div>

<script src="./javascript/autocomplete.js"></script>
<%- include("./partials/frameLower.ejs") %>
