@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #bfbfbf;
}

.upperBar {
    height:150px;
    width: 100%;
    background-color: #003296;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 15px 20px grey;
}

.brand {
    width: 750px;
    height: 100%;
    background-color: aliceblue;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
}

.brand .name {
    display: flex;
    justify-content: center;
    align-items: center;
}


.brand h1 {
    font-size: 105px;
}

.brand img{
    height: 120px;
    width: 120px;
    margin-right: 30px;
}

.user {
    display: flex;
    justify-content: space-between;
}


.sideNavBar {
    width: 750px;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px grey;
}

.sideNavBar .options {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.sideNavBar .options .op {
    display: flex;
}

.sideNavBar .options .op:not(:last-child) {
    display: flex;
    margin-bottom: 150px;
}

/* .sideNavBar .options .op img {
    height: 100px;
} */
.sideNavBar .options .op a {
    padding-left: 30px;
}
.sideNavBar > .options a {
    font-size: 70px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}